.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: toRem(20);

	// .menu__icon
	&__icon {}

	// .menu__body
	&__body {
		position: relative;
		padding-inline-end: toRem(20);
		border-right: toRem(1.2) solid #DEE3E3;

		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			left: -100%;
			top: 0;
			overflow: auto;
			padding: calc(var(--header-height) + toRem(20)) toRem(15) toRem(15) toRem(30);
			transition: left 0.3s;
			background-color: $secondColor;
			z-index: 5;

			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: var(--header-height);
				left: -100%;
				top: 0;
				transition: left 0.3s;
				z-index: 2;
				background-color: $bgColor;
			}

			.menu-open & {
				left: 0;

				&::before {
					left: 0;
				}
			}
		}
	}

	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(12);
		row-gap: toRem(5);

		@media (max-width: $tablet) {
			flex-direction: column;
			padding-block-start: toRem(10);
			row-gap: toRem(10);
		}
	}

	// .menu__item
	&__item {
		padding-block: toRem(10);
		padding-inline: toRem(22);
		border-radius: toRem(4);
		transition:
			background-color 0.5s, color 0.5s;

		@media (any-hover: hover) {
			&:hover {
				background-color: $secondColor;
				color: $whiteColor;
			}
		}
	}

	// .menu__link
	&__link {

		@media (max-width: $tablet) {
			font-size: toRem(28);
			color: $whiteColor;
		}
	}

	// .menu__navigation		
	&__navigation {}
}

//Burger Icon
.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 6;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #000;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}