// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	flex-basis: toRem(932);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	column-gap: toRem(20);
	row-gap: toRem(40);

	@media (max-width:$mobile) {
		grid-template-columns: auto;
		row-gap: 0;
	}

	@media (max-width:$mobileSmall) {
		margin-inline: toRem(-15);
	}
}

// Спойлер
.spollers__item {
	font-size: toRem(16);
}

// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	line-height: 1.5;
	/* 24/16 */
	position: relative;
	list-style: none;

	@media (max-width:$mobile) {
		padding: toRem(10) toRem(10) toRem(10) toRem(10);
		background-color: $secondColor;
		color: $whiteColor;
		border-radius: toRem(6);
	}

	@media (max-width:$mobileSmall) {
		border-radius: 0;
	}

	&:not(:last-child) {
		margin-block-end: toRem(10);
	}

	&::marker,
	&::-webkit-details-marker {
		display: none;
	}

	._spoller-init & {
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: $whiteColor;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}

		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}

		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}

		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}
		}

		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}
}

// Контент спойлера
.spollers__body {
	@media (max-width:$mobile) {
		padding: toRem(5) toRem(10) toRem(0) toRem(10);
	}
}