// Заголовки, загальні БЕМ блоки та інше...
//=== Item-build
.item-build {
  padding-inline: toRem(26);

  // .item-build__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .item-build__icon
  &__icon {
    inline-size: toRem(64);
    flex-basis: toRem(64);
    aspect-ratio: 1;
    flex-shrink: 1;
    flex-grow: 0;

    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }

  // .item-build__image  
  &__image {
    inline-size: 100%;
    object-fit: cover;
  }

  // .item-build__title
  &__title {
    font-size: toRem(18);
    line-height: 1.444444;

    /* 26/18 */
    &:not(:last-child) {
      margin-block-end: toRem(14);
    }
  }

  // .item-build__text
  &__text {
    font-size: toRem(15);
    line-height: 1.6;
    /* 24/15 */
    color: $textColor;
  }
}

//=== Item-partner
.item-partner {
  padding-block-start: toRem(42);
  padding-block-end: toRem(38);
  padding-inline: toRem(30);
  background-color: $whiteColor;

  // .item-partner__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .item-partner__image
  &__image {
    inline-size: toRem(56);
    flex-basis: toRem(44);
    aspect-ratio: 56 / 44;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }

  // .item-partner__title
  &__title {
    font-size: toRem(17);
    line-height: 1.529412;
    /* 26/17 */
    text-transform: capitalize;

    &:not(:last-child) {
      margin-block-end: toRem(14);
    }
  }

  // .item-partner__text
  &__text {
    line-height: 1.5;
    /* 24/16 */
    color: $textColor;
  }
}

//=== Title
.title {
  font-size: toRem(40);
  line-height: 1.2;
  /* 48/40 */
  @include adaptiveValue("font-size", 40, 30);

  /* 48/40 */
  span {
    background-color: #DCE9E2;
  }

  // .title--big    
  &--big {
    line-height: 1.155172;
    /* 67/58 */
    color: $secondColor;
    @include adaptiveValue("font-size", 58, 40);
  }
}

//=== Item-planning
.item-planning {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  inline-size: toRem(271);
  block-size: toRem(640);
  flex-grow: 1;

  // .item-planning__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }

  // .item-planning__icon  
  &__icon {
    inline-size: toRem(32);
    flex-basis: toRem(32);
    aspect-ratio: 1;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-block-end: toRem(20);
    }

    img {
      inline-size: 100%;
      object-fit: cover;
    }
  }

  // .item-planning__text
  &__text {
    text-align: center;
    margin-block-end: auto;

    &:not(:last-child) {
      margin-block-end: toRem(30);
    }

    p {

      &:first-child {
        line-height: 1.5;
        /* 24/16 */
      }

      &:last-child {
        font-size: toRem(15);
        line-height: 1.6;
        /* 24/15 */
        color: $textColor;
      }
    }
  }

  // .item-planning__image-phone  
  &__image-phone {
    inline-size: toRem(271);
    flex-basis: toRem(271);
    aspect-ratio: 271 / 409;
    flex-shrink: 0;
  }

  // .item-planning__image  
  &__image {
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 271 / 409;
    object-fit: contain;
  }

  &:nth-child(2),
  &:nth-child(3) {
    .item-planning__image-phone {
      aspect-ratio: 271 / 491;
    }

    .item-planning__image {
      block-size: 100%;
    }
  }
}

//=== Item-ongoing
.item-ongoing {
  position: relative;

  // .item-ongoing__wrapper
  &__wrapper {}

  // .item-ongoing__picture
  &__picture {
    inline-size: percent(1057, 1137);
    block-size: 100%;
    position: relative;
    padding-block-start: 0;
    inset-inline-start: percent(80, 1137);
    padding-inline-end: toRem(40);

    img {
      inline-size: 100%;
    }

    @media (max-width:$mobile) {
      display: none;
    }
  }

  // .item-ongoing__card
  &__card {}
}

.card-item-ongoing {
  position: absolute;
  z-index: 2;
  inset-inline-start: 0;
  inset-block-start: percent(120, 640);
  background-color: $secondColor;
  inline-size: toRem(480);
  flex-basis: toRem(480);
  flex-shrink: 1;

  @media (max-width: toEm(1024)) {
    inline-size: toRem(360);
    flex-basis: toRem(360);
  }

  @media (max-width:$tablet) {
    inset-block-start: percent(100, 640);
  }

  @media (max-width:$mobile) {
    position: static;
    inline-size: 100%;
    block-size: 100%;
    aspect-ratio: 350 / 330;
    object-fit: cover;
  }

  // .card-item-ongoing__inner
  &__inner {
    padding: toRem(53) toRem(67) toRem(50) toRem(40);
    color: $whiteColor;
    display: flex;
    flex-direction: column;

    @media (max-width: toEm(1024)) {
      padding: toRem(30);
    }

    @media (max-width:$mobile) {
      padding: toRem(50);
    }

    @media (max-width: toEm(670)) {
      padding: toRem(10);
    }
  }

  // .card-item-ongoing__title
  &__title {
    font-size: toRem(30);
    line-height: 1.2;

    /* 36/30 */
    &:not(:last-child) {
      margin-block-end: toRem(13);
    }

    @media (max-width: toEm(1024)) {
      font-size: toRem(25);
      line-height: normal;
    }

    @media (max-width: toEm(560)) {
      font-size: toRem(22);
    }
  }

  // .card-item-ongoing__text
  &__text {
    line-height: 1.5;
    flex-grow: 1;

    p {
      &:not(:last-child) {
        margin-block-end: toRem(10);
      }
    }

    /* 24/16 */
    &:not(:last-child) {
      margin-block-end: toRem(44);
    }

    @media (max-width: toEm(1024)) {
      font-size: toRem(14);
      line-height: 1.3;

      &:not(:last-child) {
        margin-block-end: toRem(20);
      }
    }
  }

  // .card-item-ongoing__swiper-pagination
  &__swiper-pagination {
    @media (max-width:$mobile) {
      font-size: toRem(14);
    }
  }
}