.header {

  // .header__container-big
  &__container-big {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(40);
    padding-block: toRem(22);
  }

  // .header__icon
  &__icon {
    display: none;
  }

  // .header__logo
  &__logo {}

  // .header__menu
  &__menu {}
}

.body-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: toRem(20);

  // .body-navigation__item
  &__item {
    font-size: toRem(16);
    line-height: 1.5;
    /* 24/16 */

    @media (any-hover: hover) {
      &:hover {
        .body-navigation__link {
          text-decoration: underline;
        }
      }
    }
  }

  // .body-navigation__link
  &__link {}

  // .body-navigation__login
  &__login {
    font-size: toRem(15);
    line-height: 1.6;
    /* 24/15 */
    padding-block: toRem(10);
    padding-inline: toRem(22);
    border-radius: toRem(4);
    transition:
      background-color 0.5s, color 0.5s;
    background-color: #DCE9E2;
    color: $secondColor;

    @media (any-hover: hover) {
      &:hover {
        background-color: $secondColor;
        color: $whiteColor;
      }
    }
  }
}