.header {
  position: fixed;
  inline-size: 100%;
  z-index: 99;
  background-color: $whiteColor;

  @media (max-width:$tablet) {
    background-color: $bgColor;
  }

  // .header__container-big
  &__container-big {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: toRem(40);
    padding-block: toRem(22);

    @media (max-width:$tablet) {
      display: grid;
      grid-template-columns: toRem(180) 1fr auto auto;
      column-gap: toRem(20);
    }

    @media (max-width: toEm(630)) {
      display: grid;
      grid-template-columns: auto 1fr auto auto;
      column-gap: toRem(0);
      padding-block: toRem(15);
    }

    @media (max-width:$mobileSmall) {
      grid-template-columns: toRem(80) 1fr auto auto;
    }
  }

  // .header__icon
  &__icon {}

  // .header__logo
  &__logo {
    inline-size: toRem(161);
    block-size: toRem(21);
    aspect-ratio: 161 / 21;
    position: relative;
    z-index: 6;

    @media (max-width:$tablet) {
      justify-self: center;
    }

    @media (max-width:$mobileSmall) {
      display: flex;
      max-inline-size: toRem(110);
      overflow: hidden;
    }
  }

  // .header__image  
  &__image {
    inline-size: 100%;
    object-fit: contain;
  }

  // .header__menu
  &__menu {}
}

.navigation-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: toRem(20);
  position: relative;
  z-index: 5;

  // .navigation-menu__item
  &__item {
    font-size: toRem(16);
    line-height: 1.5;
    /* 24/16 */

    @media (any-hover: hover) {
      &:hover {
        .navigation-menu__link {
          text-decoration: underline;
          color: $secondColor;
        }
      }
    }
  }

  // .navigation-menu__link
  &__link {

    @media (max-width: toEm(630)) {
      display: none;
    }
  }

  // .navigation-menu__login
  &__login {
    font-size: toRem(15);
    line-height: 1.6;
    /* 24/15 */
    padding-block: toRem(10);
    padding-inline: toRem(22);
    border-radius: toRem(4);
    transition:
      background-color 0.5s, color 0.5s;
    background-color: #DCE9E2;
    color: $secondColor;

    @media (max-width:$tablet) {
      background-color: $secondColor;
      color: $whiteColor;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $secondColor;
        color: $whiteColor;
      }
    }

    @media (max-width:$mobileSmall) {
      padding-block: toRem(5);
    }
  }
}