//====================================================================================================
.page {

  // .page__hero
  &__hero {}
}

//====================================================================================================
.hero {
  background-color: $bgColor;
  position: relative;
  overflow: hidden;

  @media (max-width:$tablet) {
    &::before {
      content: '';
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: 100%;
      block-size: 100%;
      background-color: #000;
      opacity: 0.6;
      z-index: 3;
    }
  }

  // .hero__container-big
  &__container-big {
    position: relative;
  }

  // .hero__container
  &__container {
    padding-block-start: toRem(170);
    padding-block-end: toRem(140);
    @include adaptiveValue("padding-block-start", 170, 100);

    @media (max-width:$mobile) {
      padding-block-end: toRem(70);
    }

    @media (max-width:$mobileSmall) {
      padding-block-end: toRem(40);
    }

    @media (max-width: toEm(560)) {
      padding-inline: 0;
    }
  }

  // .hero__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: toRem(36);
    position: relative;
    z-index: 4;

    @media (max-width:$mobile) {
      row-gap: toRem(64);
    }

    @media (max-width:$mobile) {
      row-gap: toRem(100);
    }

    @media (max-width:$mobileSmall) {
      row-gap: toRem(140);
    }
  }

  // .hero__title
  &__title {
    max-inline-size: toRem(525);
    text-align: left;

    @media (max-width:$tablet) {
      color: #fff;
    }
  }

  // .hero__form
  &__form {
    display: flex;

    @media (max-width:$tablet) {
      flex-direction: column;
      row-gap: toRem(15);
    }

  }

  // .hero__bg-circle
  &__bg-circle {
    position: absolute;
    inset-block-start: percent(13, 627);
    inset-inline-end: percent(12, 1338);
    color: $mainColor;
  }

  // .hero__image-main
  &__image-main {
    display: inline-block;
    position: absolute;
    inset-block-end: toRem(-15);
    inset-inline-end: 0;
    z-index: 1;
    inline-size: toRem(634);
    block-size: toRem(577);
    aspect-ratio: 634 / 577;

    /* 577/627 */
    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }

    @media (max-width:$mobile) {
      inline-size: 100%;
      block-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
    }
  }
}