//====================================================================================================
.page {

  // .page__hero
  &__hero {}

  // .page__build    
  &__build {}

  // .page__ongoing  
  &__ongoing {}

  // .page__healthcare  
  &__healthcare {}

  // .page__planning    
  &__planning {}

  // .page__partners    
  &__partners {}
}

//====================================================================================================
.hero {
  background-color: $bgColor;
  position: relative;
  overflow: hidden;

  @media (max-width:$tablet) {
    &::before {
      content: '';
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      inline-size: 100%;
      block-size: 100%;
      background-color: #000;
      opacity: 0.6;
      z-index: 3;
    }
  }

  // .hero__container-big
  &__container-big {
    position: relative;
  }

  // .hero__container
  &__container {
    padding-block-start: toRem(170);
    padding-block-end: toRem(140);
    @include adaptiveValue("padding-block-start", 170, 100);

    @media (max-width:$mobile) {
      padding-block-end: toRem(70);
    }

    @media (max-width:$mobileSmall) {
      padding-block-end: toRem(40);
    }

    @media (max-width: toEm(560)) {
      padding-inline: 0;
    }
  }

  // .hero__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: toRem(36);
    position: relative;
    z-index: 4;

    @media (max-width:$mobile) {
      row-gap: toRem(64);
    }

    @media (max-width:$mobile) {
      row-gap: toRem(100);
    }

    @media (max-width:$mobileSmall) {
      row-gap: toRem(140);
    }
  }

  // .hero__title
  &__title {
    max-inline-size: toRem(525);
    text-align: left;

    @media (max-width:$tablet) {
      color: #fff;
    }
  }

  // .hero__form
  &__form {
    display: flex;

    @media (max-width:$tablet) {
      flex-direction: column;
      row-gap: toRem(15);
    }
  }

  // .hero__bg-circle
  &__bg-circle {
    position: absolute;
    inset-block-start: percent(13, 627);
    inset-inline-end: percent(12, 1338);
    color: $mainColor;
  }

  // .hero__image-main
  &__image-main {
    display: inline-block;
    position: absolute;
    inset-block-end: toRem(-15);
    inset-inline-end: 0;
    z-index: 1;
    inline-size: toRem(634);
    block-size: toRem(577);
    aspect-ratio: 634 / 577;

    /* 577/627 */
    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }

    @media (max-width:$mobile) {
      inline-size: 100%;
      block-size: 100%;
      inset-block-start: 0;
      inset-inline-start: 0;
    }
  }
}

//========================================================================================================================================================
.build {

  // .build__container
  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include adaptiveValue("padding-block-start", 117, 70);
    @include adaptiveValue("padding-block-end", 75, 50);
  }

  // .build__title
  &__title {
    align-self: center;
    max-inline-size: toRem(820);

    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }

  // .build__text
  &__text {
    align-self: center;
    max-inline-size: toRem(482);
    line-height: 1.444444;
    /* 26/18 */

    &:not(:last-child) {
      margin-block-end: toRem(80);
    }

    @media (max-width:$mobile) {
      &:not(:last-child) {
        margin-block-end: toRem(60);
      }
    }

    @media (max-width:$mobileSmall) {
      &:not(:last-child) {
        margin-block-end: toRem(40);
      }
    }

  }

  // .build__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: toRem(60);
    row-gap: toRem(40);
  }

  // .build__item
  &__item {}
}

//========================================================================================================================================================
.ongoing {

  // .ongoing__container
  &__container {
    @include adaptiveValue("padding-block-start", 104, 20);
    @include adaptiveValue("padding-block-end", 50, 30);
  }

  // .ongoing__title
  &__title {
    max-inline-size: toRem(465);
    text-align: center;
    margin: 0 auto;

    &:not(:last-child) {
      margin-block-end: toRem(65);
    }

    @media (max-width:$mobile) {
      &:not(:last-child) {
        margin-block-end: toRem(60);
      }
    }

    @media (max-width:$mobileSmall) {
      &:not(:last-child) {
        margin-block-end: toRem(40);
      }
    }
  }

  // .ongoing__slider
  &__slider {}

  // .ongoing__wrapper
  &__wrapper {
    margin-block-end: toRem(11);
  }

  // .ongoing__slide
  &__slide {}

  // .ongoing__item
  &__item {}

  // .ongoing__paginations
  &__paginations {
    position: relative;
    block-size: toRem(40);
  }

  &__button-prev,
  &__button-next {
    inline-size: toRem(40);
    flex-basis: toRem(40);
    aspect-ratio: 1;
    flex-shrink: 0;

    &::before {
      font-size: toRem(18);
      color: $secondColor;
    }
  }

  // .ongoing__button-prev
  &__button-prev {
    position: absolute;
    inset-inline-start: 3.8%;
    inset-block-start: toRem(0);
    transform: rotate(-90deg);

    @media (max-width:$tablet) {
      inset-inline-start: 0;
    }
  }

  // .ongoing__button-next
  &__button-next {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    transform: rotate(90deg);
  }

  &__swiper-scrollbar {
    position: absolute;
    inset-inline-start: 50%;
    inset-inline-end: toRem(46);
    transform: translate(calc(-50% + toRem(10)), 0);
    inset-block-start: 50%;
    inline-size: 87%;
    block-size: toRem(2);
    background-color: #DEE3E3;
    padding: 0 4px;

    @media (max-width: toEm(560)) {
      opacity: 0;
      visibility: hidden;
    }
  }

  // .ongoing__swiper-scrollbar
  &__swiper-scrollbar .swiper-scrollbar-drag {
    inline-size: 100%;
    block-size: 100%;
    background-color: $secondColor;

    &:not(:first-child) {
      margin: 0 toRem(6);
    }
  }

  .swiper-button-disabled {
    cursor: none;

    &::before {
      color: #0D8570;
      opacity: 0.5;
    }
  }
}

//========================================================================================================================================================
.healthcare {

  // .healthcare__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: toRem(21);
    @include adaptiveValue("padding-block-start", 100, 0);
    @include adaptiveValue("padding-block-end", 100, 30);
  }

  // .healthcare__main
  &__main {}

  // .healthcare__bottom
  &__bottom {}
}

.main-healthcare {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: toRem(40);

  @media (max-width:$mobile) {
    flex-wrap: wrap;
    row-gap: toRem(20);
  }

  // .main-healthcare__content
  &__content {
    inline-size: toRem(500);
    flex-basis: toRem(500);
    padding-block: toRem(44);

    @media (max-width:$mobile) {
      padding-block-start: toRem(5);
      padding-block-end: toRem(40);
    }
  }

  // .main-healthcare__title
  &__title {
    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }

  // .main-healthcare__text
  &__text {
    font-size: toRem(17);
    line-height: 1.529412;
    /* 26/17 */
    color: $textColor;

    @media (max-width:$mobile) {
      font-size: toRem(15);
      line-height: 1.3;
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(14);
    }
  }

  // .main-healthcare__picture
  &__picture {
    inline-size: toRem(500);
    flex-basis: toRem(500);
    aspect-ratio: 500 / 323;
    flex-shrink: 1;

    @media (max-width:$mobile) {

      inline-size: 100%;
      flex-grow: 1;
    }
  }

  // .main-healthcare__image
  &__image {
    inline-size: 100%;
    object-fit: cover;
  }
}

.bottom-healthcare {

  // .bottom-healthcare__body
  &__body {
    color: $secondColor;
    overflow: hidden;
  }

  // .bottom-healthcare__list
  &__list {
    display: flex;
    column-gap: toRem(80);
    justify-content: space-between;
  }

  // .bottom-healthcare__item
  &__item {
    inline-size: toRem(140);
    flex-basis: toRem(140);
    aspect-ratio: 140 / 89;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: toRem(7);
  }

  // .bottom-healthcare__correlation
  &__correlation {
    font-size: toRem(32);
    text-align: left;
    line-height: 1.5;

    /* 48/32 */
    @media (max-width:$mobile) {
      font-size: toRem(28);
      line-height: 1.2;
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(26);
      line-height: 1;
    }
  }

  // .bottom-healthcare__text
  &__text {
    font-size: toRem(14);
    line-height: 1.285714;
    /* 18/14 */
  }
}

//========================================================================================================================================================
.planning {

  // .planning__container
  &__container {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding-block-start", 100, 30);
  }

  // .planning__title
  &__title {
    text-align: center;
    margin: 0 auto;
    max-inline-size: toRem(545);

    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }

  // .planning__text
  &__text {
    text-align: center;
    margin: 0 auto;
    max-inline-size: toRem(518);
    font-size: toRem(18);
    line-height: 1.444444;
    color: $textColor;

    /* 26/18 */
    &:not(:last-child) {
      margin-block-end: toRem(36);
    }

    @media (max-width:$mobile) {
      font-size: toRem(15);
      line-height: 1.3;
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(14);

      &:not(:last-child) {
        margin-block-end: 0;
      }
    }
  }

  // .planning__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(23);
    row-gap: toRem(30);
  }

  // .planning__item
  &__item {}
}

//========================================================================================================================================================
.partners {
  background-color: $bgColor;

  // .partners__container-big  
  &__container-big {
    position: relative;
  }

  // .partners__container
  &__container {
    position: relative;
    z-index: 2;
    @include adaptiveValue("padding-block-start", 104, 50);

    @media (max-width:$mobile) {
      padding-inline: 0;
    }
  }

  // .partners__top
  &__top {
    margin-block-end: toRem(100);

    @media (max-width:$mobile) {
      margin-block-end: toRem(60);
    }
  }

  // .partners__middle
  &__middle {}

  // .partners__picture    
  &__picture {
    position: absolute;
    inset-block-end: toRem(-23);
    inset-inline-start: 50%;
    transform: translate(-50%, 0);
    inline-size: toRem(500);
    flex-basis: toRem(500);
    aspect-ratio: 500 / 275;
    flex-shrink: 0;
    background-color: $whiteColor;

    img {
      inline-size: 100%;
      object-fit: cover;
    }

    @media (max-width: toEm(570)) {
      inline-size: 100%;
    }
  }

  // .partners__images    
  &__images {}
}

.top-partners {
  display: flex;
  flex-direction: column;

  // .top-partners__title
  &__title {
    max-inline-size: toRem(536);
    margin: 0 auto;
    text-align: center;

    &:not(:last-child) {
      margin-block-end: toRem(20);
    }
  }

  // .top-partners__text
  &__text {
    max-inline-size: toRem(506);
    margin: 0 auto;
    color: $textColor;
    line-height: 1.444444;
    text-align: center;

    &:not(:last-child) {
      margin-block-end: toRem(56);
    }

    @media (max-width:$mobile) {
      font-size: toRem(15);
      line-height: 1.3;
    }

    @media (max-width:$mobileSmall) {
      font-size: toRem(14);

      &:not(:last-child) {
        margin-block-end: toRem(45);
      }
    }
  }

  // .top-partners__items
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(260), 1fr));
    grid-template-rows: auto;

    column-gap: toRem(50);
    row-gap: toRem(30);
  }

  // .top-partners__item
  &__item {}
}

.middle-partners {
  padding-block-end: toRem(390);

  @media (max-width:$mobile) {
    padding-block-end: toRem(320);
  }

  @media (max-width: toEm(520)) {
    padding-block-end: toRem(300);
  }

  @media (max-width:$mobileSmall) {
    padding-block-end: toRem(280);
  }

  @media (max-width: toEm(375)) {
    padding-block-end: toRem(250);
  }

  @media (max-width: toEm(320)) {
    padding-block-end: toRem(210);
  }

  // .middle-partners__reviews  
  &__reviews {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 0;
  }

  // .middle-partners__slider  
  &__slider {
    width: 100%;

    &:not(:last-child) {
      margin-block-end: toRem(30);
    }
  }

  // .middle-partners__wrapper  
  &__wrapper {}

  // .middle-partners__slide  
  &__slide {}

  // .middle-partners__review  
  &__review {}


  // .middle-partners__navigation  
  &__navigation {
    display: flex;
    align-items: center;
    column-gap: toRem(20);
  }

  &__button-prev,
  &__button-next {
    inline-size: toRem(40);
    block-size: toRem(40);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #DCE9E2;
    color: $secondColor;

    &::before {
      font-size: toRem(18);
    }
  }

  // .middle-partners__button-prev  
  &__button-prev {
    &::before {
      transform: rotate(-90deg);
    }
  }

  // .middle-partners__button-next  
  &__button-next {
    &::before {
      transform: rotate(90deg);
    }
  }

  .swiper-button-disabled {
    cursor: none;

    &::before {
      color: #0D8570;
      opacity: 0.5;
    }
  }
}

.images-partners {

  // .images-partners__item
  &__item {
    position: absolute;
    inline-size: percent(252, 1338);
    block-size: percent(240, 1323);
  }

  // .images-partners__item_1
  &__item_1 {
    inset-block-start: percent(288, 1323);
    /* 288/1323 */
    inset-inline-start: percent(39, 1338);
  }

  // .images-partners__item_2
  &__item_2 {
    inset-block-start: percent(350, 1323);
    inset-inline-start: percent(627, 1338);
  }

  // .images-partners__item_3
  &__item_3 {
    inset-block-start: percent(288, 1323);
    inset-inline-start: percent(1047, 1338);
  }

  @media (max-width:$mobile) {
    display: none;
  }
}